<!DOCTYPE html>
<html>
<head>
  <style>
    .header{
    background-color: red;
    height: 100px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 28px;
    color: white;
    font-family:Verdana;
    vertical-align:middle;
    }

    .footer{
    background-color: red;
    height: 100px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 28px;
    color: white;
    font-family:Verdana;
    vertical-align:middle;

    }

    .middleContainer{
    margin-top: 100px;
    height: auto;
    width: 100%;
	margin-bottom: 100px;
	display: inline-block;
    }

    .leftInContainer{
    width: 10%;
    float: left;
    }

    .rightInContainer{
    float: left;
    width: 45%;
    }
	.rightrightInContainer{
    float: left;
    width: 45%;
	display: none;
    }

    .menuButton{
    height: 50px;
    width: 100%;
    text-align: center;
	
    background-color: ghostwhite;
    }



  </style>
    <title></title>
	<meta charset="utf-8" />
	
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class="header">
      Races API
	</div>
  <div class="middleContainer">
    <div class="leftInContainer">
	<a href="/home">
        <div class ="menuButton" >
          Home
        </div>
      </a>
      <a href="/races">
        <div class ="menuButton" >
          Races
        </div>
      </a>
      <a href="/cafes">
        <div class ="menuButton" >
          Cafes
        </div>
      </a>
      <a href="/home">
        <div class ="menuButton" >
          Users
        </div>
      </a>
      <a href="/home">
        <div class ="menuButton" >
          Documentatie
        </div>
      </a>
      
    </div>
	

    <div class ="rightInContainer">
		<a href="/races/add">
        <div class ="menuButton" >
          Add Race
        </div>
      </a>
		<ul id="racelist">
			
		</ul>
    </div>

	<div class ="rightrightInContainer" id ="rightrightInContainer">
	<h1 id="raceHeader">
	
	</h1>
		<form id="raceEditForm" name="raceForm" action="" method="post">
        <div class="form-group">
            <label>Name</label>
            <input id="inputName" type="text" class="form-control" name="name">

			<label>Starttime</label>
            <input id="inputstarttime" type="text" class="form-control" name="starttime">

			<label>Endtime</label>
            <input id="inputendtime" type="text" class="form-control" name="endtime">
			<br>
			<label>Gebruikers:</label>
			<% for (var i = 0; i < users.length; i++) { %>
                   <input type="checkbox" name="users" id="<%= users[i]._id %>"  value="<%= users[i]._id %>"> <%= users[i].local.email %><br>
            <% } %>

            <label>Cafes:</label>
            <% for (var i = 0; i < cafes.length; i++) { %>
            <input type="checkbox" name="cafes" id="<%= cafes[i]._id %>"  value="<%= cafes[i]._id %>"> <%= cafes[i].name %><br>
            <% } %>
			
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Save race</button>
    </form>
			
    </div>
    
  </div>

  <div class="footer">
    Races API
  </div>

</body>

<script>
				var selectedRace;
				$("document").ready(function(){
					<% for(var i=0; i<races.length; i++) {%>
						var dif = $("<div></div>");
						dif.append("<%= races[i].name %>");
							var racedel = $("<button>Delete</button>"); 
							var raceedit = $("<button>Edit</button>");
							
							
							
							raceedit.click(function(){
							selectedRace = "<%= races[i]._id %>";

							document.getElementById("raceEditForm").reset();

                                $("#rightrightInContainer").css('display', 'inline-block');
                                document.getElementById("inputName").value = "<%= races[i].name %>";
                                document.getElementById("inputstarttime").value = "<%= races[i].starttime %>";
                                document.getElementById("inputendtime").value = "<%= races[i].endtime %>";
                                document.getElementById("raceHeader").innerHTML = "<%= races[i].name %>";
                                document.getElementById("raceEditForm").action = "/races/<%= races[i]._id %>";


							<% for(var k=0; k < races[i].users.length; k++){%>
								document.getElementById("<%= races[i].users[k] %>").checked = true;
							<% } %>

                            <% for(var k=0; k < races[i].cafes.length; k++){%>
                            document.getElementById("<%= races[i].cafes[k] %>").checked = true;
                            <% } %>






							}); 

							racedel.click(function(){
							selectedRace = "<%= races[i]._id %>";
								$.ajax({
									type: "DELETE",
									url: "/races/<%= races[i]._id %>",
									success: function(msg){
										location.reload();
									}
								});
							}); 
							dif.append(" ");
							dif.append(racedel);
							dif.append(" ");
							dif.append(raceedit);
							$("#racelist").append(dif);
					<% } %>
				});


			</script>
</html>
